<!-- About Me -->
<section id="aboutme" class="wrapper grape special">
	<div class="inner">
		<header class="major">
			<h2>hello!</h2>
			<p>{{ page.aboutme }}</p>
		</header>
		<ul class="icons major">
			{% if site.my.twitter %}
			<li>
				<a href="{{ site.twitter_url }}" class="icon twitter major" target="_blank"><span class="label">Twitter</span></a>
			</li>
			{% endif %}

			{% if site.my.github %}
			<li>
				<a href="{{ site.my.github }}" class="icon github major"><span class="label">GitHub</span></a>
			</li>
			{% endif %}

			{% if site.my.gitlab %}
			<li>
				<a href="{{ site.my.gitlab }}" class="icon gitlab major"><span class="label">GitLab</span></a>
			</li>
			{% endif %}

			{% if site.my.linkedin %}
			<li>
				<a href="{{ site.my.linkedin }}" class="icon linkedin major"><span class="label">LinkedIn</span></a>
			</li>
			{% endif %}

			{% if site.my.keybase %}
			<li>
				<a href="{{ site.my.keybase }}" class="icon keybase major"><span class="label">Keybase</span></a>
			</li>
			{% endif %}
		</ul>
	</div>
</section>
