<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>{{ site.title }}</h2>
		<p>{{ site.my.bio }}</p>
		<ul class="actions">
			<li><a href="#" class="button special	fit">Continue</a></li>
		</ul>
	</div>
</section>
