<form method="POST" action="//formspree.io/kyannerose@pm.me">
  <div class="row uniform">
    <div class="6u 12u$(xsmall)">
      <input type="text" name="firstname" id="firstname" value="" placeholder="First Name" />
    </div>
    <div class="6u 12u$(xsmall)">
      <input type="text" name="lastname" id="lastname" value="" placeholder="Last Name" />
    </div>
    <div class="12u$">
      <input type="email" name="demo-email" id="demo-email" value="" placeholder="Email" />
    </div>
    <div class="12u$">
      <input type="text" name="subj" id="subj" value="" placeholder="Subject" />
    </div>
    <div class="12u$">
      <textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
    </div>
    <div class="12u$">
      <ul class="actions">
        <li><input type="submit" value="Send Message" class="contact lemon" /><a href="mailto:kyannerose@pm.me"></a></li>
        <li><input type="reset" value="Reset" /></li>
      </ul>
    </div>
  </div>
</form>
