<!-- CTA -->
<section id="cta" class="wrapper lemon">
	<div class="inner">
		<header>
			<h2>Say hello: </h2>
		</header>
		<ul class="actions vertical fit small">
			<li><a href="mailto:kyannerose@pm.me?subject='Hi there!'" class="button big">Contact</a></li>
		</ul>
	</div>
</section>
