<!-- Page Wrapper -->
<div id="page-wrapper">

	<!-- Header -->
	<header id="header" {% if page.layout=='home' %} class="alt" {% endif %} />
		<h1><a href="{{ "" | absolute_url }}/">{{ site.title }}</a></h1>
		<nav id="nav">
			<ul>
				<li class="special">
					<a href="#menu" class="menuToggle"><span>Menu</span></a>
					<div id="menu">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/blog">Blog</a></li>
							<li><a href="https://app.standardresume.co/r/kyanne-rose-32500" target="_blank">Resume</a></li>
						</ul>
						<br>
						<br>
						<ul class="actions">
							<li><a href="mailto:kyannerose@pm.me?subject='Hi there!'" class="button special icon fa-paper-plane">Say hello!</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</nav>
	</header>
