<!-- Skills -->
<section id="skills" class="wrapper fuschia special">
	<div class="inner">
		<header class="major">
			<h2>Passionate & Curious</h2>
		</header>
		<ul class="features">
			<li class="icon fa-code">
				<h3>Languages & Frameworks</h3>
				<p>Python, Shell scripting, HTML, CSS, Sass/SCSS, YAML, Jekyll, MATLAB, Ruby, C++</p>
			</li>
			<li class="icon fa-toolbox">
				<h3>Tools</h3>
				<p>Git, LaTeX, Terminal/Command line, WordPress, Virtual Machines, GIMP, AutoCAD, SolidWorks, ImageJ</p>
			</li>
			<li class="icon fa-laptop">
				<h3>OS/Environments</h3>
				<p>GNU/Linux<br>Ubuntu<br>Kali Linux<br>Windows</p>
			</li>
			<li class="icon fa-heart">
				<h3>Passions</h3>
				<p>Baking, nature, cryptography, Tor, triboluminescence, electronics, 80s horror movies, my dog Chip</p>
			</li>
			<li class="icon fa-atom">
				<h3>Current projects</h3>
				<p>A layman's guide to privacy & anonymity, classic cipher encoder/decoder, personal IoT network </p>
			</li>
			<li class="icon fa-headphones">
				<h3>Podcasts I'm listening to</h3>
				<p><a href="https://www.behindthebastards.com/" target="_blank">Behind the Bastards</a>
					<br>
					<a href="https://www.stuffyoushouldknow.com/" target="_blank">Stuff You Should Know</a>
					<br>
					<a href="https://www.maximumfun.org/shows/my-brother-my-brother-and-me" target="_blank">My Brother, My Brother and Me</a></p>
			</li>
		</ul>
	</div>
</section>
