<section id="two" class="wrapper alt blue">

	<section class="spotlight">
		<div class="image"><img src="assets/images/img08.jpg" alt="" /></div>
		<div class="content">
			<h2><a href='blog/' class="link">Blog</a></h2>
			<p>Need to write a description.</p>
		</div>
	</section>
	<section class="spotlight">
		<div class="image"><img src="assets/images/img05.jpg" alt="" /></div>
		<div class="content">
			<h2><a href='projects/' class="link">Projects</a></h2>
			<p>Need to write a description.</p>
		</div>
	</section>


</section>
