    &.contact {
        background-color: $fuschia;

      .wrapper {
        background-color: $grey;
        color: $blue;
      }

      input[type="text"],
      input[type="password"],
      input[type="email"],
      select,
      textarea {
        background-color: mix($fuschia, $white, .05);
      }
    }
