---
---
@import 'utils/functions';
@import 'utils/mixins';
@import 'utils/vars';
//@import 'utils/palette';
@import "vendor/fontawesome.scss";
@import "vendor/fa/solid.scss";
@import "vendor/fa/brands.scss";
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Open+Sans:400,400i,600,800&display=swap');

  @import 'vendor/skel';
  @include skel-breakpoints((xlarge: '(max-width: 1680px)', large: '(max-width: 1280px)', medium: '(max-width: 980px)', small: '(max-width: 736px)', xsmall: '(max-width: 480px)'));
  @include skel-layout((reset: 'full', boxModel: 'border', grid: (gutters: 1.5em)));

@import 'base/glob';
@import 'elements/glob';
@import 'layout/glob';
//@import 'pages/palette';
