	/// Gets a duration value.
	/// @param {string} $keys Key(s).
	/// @return {string} Value.
	@function _duration($keys...) {
		@return val($duration, $keys...);
	}
	/// Gets a misc value.
	/// @param {string} $keys Key(s).
	/// @return {string} Value.
	@function _misc($keys...) {
		@return val($misc, $keys...);
	}
	/// Gets a palette value.
	/// @param {string} $keys Key(s).
	/// @return {string} Value.
	@function _palette($keys...) {
		@return val($palette, $keys...);
	}
	/// Gets a size value.
	/// @param {string} $keys Key(s).
	/// @return {string} Value.
	@function _size($keys...) {
		@return val($size, $keys...);
	}
