  @mixin palette($color) {
    body {
      background-color: _palette($color, outerbg);
    }

    .icon {
      color: _palette($color, accent);
    }

    .button {
      &.special {
        background-color: _palette($color, accent);

        &:hover {
          background-color: lighten(_palette($color, accent), 5) !important;
        }

        &:active {
          background-color: darken(_palette($color, accent), 5) !important;
        }
      }
    }

    .wrapper {
      background-color: _palette($color, outerbg);

      > .inner {
        background-color: _palette($color, innerbg);
      }
    }

    #menu {
      background-color: _palette($color, menubg);
    }


    #footer {
      background-color: _palette($color, footer);
    }


    body.is-mobile {
      &.landing {
        #footer {
          background-color: _palette($color, footer);
        }
      }
    }
  }
