// Fonts
  $ff-sans: 'Open Sans', Helvetica, sans-serif;
  $ff-mono: 'Inconsolata', monospace;


// Colors
  $white: #fff;
  $border: rgba(0,0,0,0.125);
  $border-bg: rgba(255, 255, 255, .075);
  $input: rgba(255, 255, 255, .3);

  $blue: #596993;
  $fuschia: #e42d9f;
  $grape: #575da9;
  $grey: #a1a19d;
  $lemon: #d7dd35;

  $palette: (
    bodybg: $blue,
    innerbg: $grey,
    accent1: $lemon,
    accent2: $fuschia,
    accent3: $grape
  );

// Misc.
	$misc: (
		max-spotlights:		10,
		max-features:		10,
		z-index-base:		10000
	);

// Duration
	$duration: (
		transitions:		0.2s,
		menu:				0.5s,
		fadein:				3s
	);


// Size
	$size: (
		element-height:		2.75em,
		element-margin:		2em,
		letter-spacing:		0.075em,
		letter-spacing-alt:	0.225em
	);
