	/* Box */
		.box {
			border-radius: 3px;
			border: solid 2px $border;
			margin-bottom: _size(element-margin);
			padding: 1.5em;

			> :last-child,
			 > :last-child > :last-child > :last-child,
			> :last-child > :last-child {
				margin-bottom: 0;
			}

			&.alt {
				border: 0;
				border-radius: 0;
				padding: 0;
			}
		}
