	/* Button */
		input[type="submit"],
		input[type="reset"],
		input[type="button"],
		button,
		.button {
			@include vendor('appearance', 'none');
			@include vendor('transition', ('background-color #{_duration(transitions)} ease-in-out', 'color #{_duration(transitions)} ease-in-out'));
			background-color: transparent;
			border-radius: 3px;
			border: 0;
			box-shadow: inset 0 0 0 2px $border;
			cursor: pointer;
			display: inline-block;
			font-size: 0.8em;
			font-weight: 600;
			height: 3.125em;
			letter-spacing: _size(letter-spacing-alt);
			line-height: 3.125em;
			padding: 0 2.75em;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			&:hover {
				background-color: $border-bg;
			}

			&:active {
				background-color: $input;
			}

			&.icon {
				&:before {
					margin-right: 0.5em;
				}
			}

			&.fit {
				display: block;
				margin: 0 0 (_size(element-margin) * 0.5) 0;
				width: 100%;
			}

			&.small {
				font-size: 0.8em;
			}

			&.big {
				box-shadow: none;
				font-size: 1.35em;
			}

			&.special {
				background-color: _palette(accent2);
				box-shadow: none !important;

				&:hover {
					background-color: lighten(_palette(accent2), 5) !important;
				}

				&:active {
					background-color: darken(_palette(accent2), 5) !important;
				}
			}

			&.lemon {
				background-color: $lemon;
				box-shadow: none !important;

				&:hover {
					background-color: lighten($lemon, 5) !important;
				}

				&:active {
					background-color: darken($lemon, 5) !important;
				}
			}

			&.disabled,
			&:disabled {
				@include vendor('pointer-events', 'none');
				opacity: 0.25;
			}
			@include breakpoint(small) {
				height: 3.75em;
				line-height: 3.75em;
			}
		}
