	/* Form */
		form {
			margin: 0 0 2em;
		}

		label {
			display: block;
			font-size: 0.9em;
			font-weight: 600;
			margin: 0 0 (_size(element-margin) * 0.5) 0;
		}

		input[type="text"],
		input[type="password"],
		input[type="email"],
		select,
		textarea {
			@include vendor('appearance', 'none');
			background: $input;
			border-radius: 3px;
			border: none;
			color: inherit;
			display: block;
			outline: 0;
			padding: 0 1em;
			text-decoration: none;
			width: 100%;
		}

		.select-wrapper {
			@include icon;
			display: block;
			position: relative;

			&:before {
				@include vendor('pointer-events', 'none');
				content: '\f078';
				display: block;
				height: _size(element-height);
				line-height: _size(element-height);
				position: absolute;
				right: 0;
				text-align: center;
				top: 0;
				width: _size(element-height);
			}

			select::-ms-expand {
				display: none;
			}
		}

		input[type="text"],
		input[type="password"],
		input[type="email"],
		select {
			height: _size(element-height);
		}

		textarea {
			padding: 0.75em 1em;
		}

		input[type="checkbox"],
		input[type="radio"] {
			@include vendor('appearance', 'none');
			display: block;
			float: left;
			margin-right: -2em;
			opacity: 0;
			width: 1em;
			z-index: -1;

			& + label {
				@include icon;
				color: $white;
				cursor: pointer;
				display: inline-block;
				font-size: 1em;
				font-weight: 400;
				padding-left: (_size(element-height) * 0.6) + 0.75em;
				padding-right: 0.75em;
				position: relative;

				&:before {
					background: $input;
					border-radius: 3px;
					content: '';
					display: inline-block;
					height: (_size(element-height) * 0.6);
					left: 0;
					line-height: (_size(element-height) * 0.575);
					position: absolute;
					text-align: center;
					top: 0;
					width: (_size(element-height) * 0.6);
				}
			}

			&:checked + label {
				&:before {
					background: _palette(accent2);
					content: '\f00c';
				}
			}

			&:focus + label {
				&:before {
					box-shadow: 0 0 0 2px $border;
				}
			}
		}

		input[type="checkbox"] {
			& + label {
				&:before {
					border-radius: 3px;
				}
			}
		}

		input[type="radio"] {
			& + label {
				&:before {
					border-radius: 100%;
				}
			}
		}

		::-webkit-input-placeholder {
			color: _palette(accent2) !important;
			opacity: 1.0;
		}

		:-moz-placeholder {
			color: _palette(accent2) !important;
			opacity: 1.0;
		}

		::-moz-placeholder {
			color: _palette(accent2) !important;
			opacity: 1.0;
		}

		:-ms-input-placeholder {
			color: _palette(accent2) !important;
			opacity: 1.0;
		}

		.formerize-placeholder {
			color: _palette(accent2) !important;
			opacity: 1.0;
		}
