	/* Icon */
		.icon {
			@include icon;
			border-bottom: none;
			position: relative;

			> .label {
				display: none;
			}

			&.major {
				@include vendor('transform', 'rotate(-45deg)');
				border-radius: 3px;
				border: solid 2px $white;
				color: _palette(accent1);
				display: inline-block;
				font-size: 1.35em;
				height: calc(3em + 2px);
				line-height: 3em;
				text-align: center;
				width: calc(3em + 2px);

				&:before {
					@include vendor('transform', 'rotate(45deg)');
					display: inline-block;
					font-size: 1.5em;
				}
				@include breakpoint(small) {
					font-size: 1em;
				}
			}
		}

		.github::before {
			font-family: "Font Awesome 5 Brands";  /* updated font-family */
			font-weight: 400; /* regular style/weight */
			content: "\f113";
		}

		.gitlab::before {
			font-family: "Font Awesome 5 Brands";  /* updated font-family */
			font-weight: 400; /* regular style/weight */
			content: "\f296";
		}

		.keybase::before {
		  font-family: "Font Awesome 5 Brands";  /* updated font-family */
		  font-weight: 400; /* regular style/weight */
		  content: "\f4f5";
		}

		.linkedin::before {
			font-family: "Font Awesome 5 Brands";  /* updated font-family */
			font-weight: 400; /* regular style/weight */
			content: "\f08c";
		}

		.twitter::before {
			font-family: "Font Awesome 5 Brands";  /* updated font-family */
			font-weight: 400; /* regular style/weight */
			content: "\f099";
		}

		// .toolbox::before {
		// 	font-family: "Font Awesome 5 Free";  /* updated font-family */
		// 	content: "\f552";
		// }
		//
		// .laptop::before {
		//   font-family: "Font Awesome 5 Free";  /* updated font-family */
		//   content: "\f5fc";
		// }
		//
		// .heart::before {
		// 	font-family: "Font Awesome 5 Free";  /* updated font-family */
		// 	content: "\f004";
		// }
		//
		// .atom::before {
		// 	font-family: "Font Awesome 5 Free";  /* updated font-family */
		// 	font-weight: 400; /* regular style/weight */
		// 	content: "\f5d2";
		// }
