		.image {
			border-radius: 3px;
			border: 0;
			display: inline-block;
			position: relative;

			img {
				border-radius: 3px;
				display: block;
			}

			&.left {
				float: left;
				margin: 0 2em 2em 0;
				top: 0.25em;
			}

			&.right {
				float: right;
				margin: 0 0 2em 2em;
				top: 0.25em;
			}

			&.left,
			&.right {
				max-width: 40%;

				img {
					width: 100%;
				}
			}

			&.fit {
				display: block;
				margin: 0 0 _size(element-margin);
				width: 100%;

				img {
					width: 100%;
				}
			}
		}
