	/* Section/Article */
		article,
		section {
			&.special {
				text-align: center;
			}

			&.blog {
				padding-top: 1em 0;
			}
		}

		header {
			p {
				color: rgba(255, 255, 255, 0.75);
				position: relative;
				top: -0.25em;
			}

			h2 + p {}

			h3 + p {
				font-size: 1.1em;
			}

			h4 + p,
			h5 + p,
			h6 + p {
				font-size: 0.9em;
			}

			&.major {
				margin: 0 0 (_size(element-margin) * 1.75) 0;

				h2,
				h3,
				h4,
				h5,
				h6 {
					border-bottom: solid 2px $white;
					display: inline-block;
					padding-bottom: 1em;
					position: relative;

					&:after {
						content: '';
						display: block;
						height: 1px;
					}
				}

				p {
					top: 0;
				}
				@include breakpoint(small) {
					margin: 0 0 _size(element-margin);
				}
			}
			@include breakpoint(medium) {
				br {
					display: none;
				}
			}
		}
