	/* Table */
		.table-wrapper {
			-webkit-overflow-scrolling: touch;
			overflow-x: auto;
		}

		table {
			margin: 0 0 _size(element-margin);
			width: 100%;

			tbody {
				tr {
					border: solid 1px $border;
					border-left: 0;
					border-right: 0;

					&:nth-child(2n + 1) {
						background-color: $border-bg;
					}
				}
			}

			td {
				padding: 0.75em;
			}

			th {
				color: inherit;
				font-size: 0.9em;
				font-weight: 600;
				padding: 0 0.75em 0.75em;
				text-align: left;
			}

			thead {
				border-bottom: solid 2px $border;
				color: _palette(accent2);
			}

			tfoot {
				border-top: solid 2px $border;
			}

			&.alt {
				border-collapse: separate;

				tbody {
					tr {
		        border: none;
						}
					}
				}

				thead {
					border-bottom: 0;
				}

				tfoot {
					border-top: 0;
				}
			}
