<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  {% include head.html %}

  <body class="landing">
    {% include header.html %}
    {% include banner.html %}
    {% include aboutme.html %}
    {% include skills.html %}
    {% include spotlight.html %}
    {% include cta.html %}
    {% include footer.html %}
  </body>

</html>
