<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

  {% include head.html %}

  <body {% if page.title=='Blog' %} class="blog" {% elsif page.title=="Contact me" %} class="contact" {% endif %}>

    {% include header.html %}

    <!-- Main -->
    <article id="main">
      {% if page.title != 'Contact me' %}
      <header style="background-image: url('{{ page.image | relative_url }}');">
        <h2>{{ page.title }}</h2>
        <p>{{ page.description }}</p>
      </header>
      {% endif %}

      <section class="wrapper {% if page.title=='Blog' %} blog {% elsif page.title=='Contact me' %} contact {% endif %}">
        <div class="inner">

          {{ content }}

        </div>
      </section>
    </article>

    {% include footer.html %}

  </body>

</html>
