<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <!-- Main -->
    <article id="main">
      <header style="background-image: url('{{ page.image | absolute_url }}'); padding-top:5em; padding-bottom:4em">
        <h2>{{ page.title }}</h2>
        <p>{{ page.timestamp }}</p>
      </header>
      <section class="wrapper">
        <div class="inner">

          {{ content }}

        </div>
      </section>
    </article>

    {% include footer.html %}

  </body>

</html>
