	/* CTA */
		#cta {
			.inner {
				@include vendor('display', 'flex');
				align-items: center;
				max-width: 45em;

				header {
					@include vendor('order', '1');
					padding-right: 3em;
					padding-bottom: 1em;
					width: 70%;

					p {
						color: inherit;
					}
				}

				.actions {
					@include vendor('order', '2');
					box-shadow: none;
					width: 30%;
				}
				@include breakpoint(medium) {
					display: block;
					text-align: center;

					header {
						padding-right: 0;
						width: 100%;
					}

					.actions {
						box-shadow: none;
						margin-left: auto;
						margin-right: auto;
						max-width: 20em;
						width: 100%;
					}
				}
				@include breakpoint(small) {
					.actions {
						max-width: none;
					}
				}
			}
		}
