	/* Footer */

		#footer {
			@include padding(6em, 0);
			background-color: _palette(accent2);
			text-align: center;

			.icons {
				font-size: 1.25em;

				a {
					color: $white;
				}
			}

			.copyright {
				color: $white;
				font-size: 0.8em;
				letter-spacing: _size(letter-spacing-alt);
				list-style: none;
				padding: 0;
				text-transform: uppercase;

				li {
					border-left: solid 1px $white;
					display: inline-block;
					line-height: 1em;
					margin-left: 1em;
					padding-left: 1em;

					&:first-child {
						border-left: 0;
						margin-left: 0;
						padding-left: 0;
					}

					a {
						color: inherit;

						&:hover {
							color: $white;
						}
					}

					@include breakpoint(xsmall) {
						border: 0;
						display: block;
						line-height: 1.65em;
						margin: 0;
						padding: 0.5em 0;
					}
				}
			}

			@include breakpoint(medium) {
				@include padding(4em, 3em);
			}

			@include breakpoint(small) {
				@include padding(3em, 2em);
			}
		}
