	/* Landing */

		body.landing {
			#page-wrapper {
				@include vendor('background-image', ('linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5))', 'url("../../assets/images/banner.jpg")'));
				background-attachment: fixed;
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;
				padding-top: 0;
			}

			#footer {
				background-color: transparentize(_palette(accent1), .5);
			}
		}

		body.is-mobile {
			&.landing {
				#page-wrapper {
					background: none;
				}

				#banner,
				.wrapper.style4 {
					@include vendor('background-image', ('linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5))', 'url("../../assets/images/banner.jpg")'));
					background-position: center center;
					background-repeat: no-repeat;
					background-size: cover;
				}

				#footer {
					background-color: darken(_palette(accent1), 8);
				}
			}
		}
