	/* Page Wrapper */
		#page-wrapper {
			@include vendor('transition', 'opacity #{_duration(menu)} ease');
			opacity: 1;
			padding-top: 3em;

			&:before {
				background: rgba(0,0,0,0);
				content: '';
				display: block;
				display: none;
				height: 100%;
				left: 0;
				position: fixed;
				top: 0;
				width: 100%;
				z-index: _misc(z-index-base) + 1;
			}
		}
