		.wrapper {
			@include padding(6em, 0);

			> .inner {
				border-radius: 5px;
				width: 80%;
				margin: 0 auto;
				padding: 3em;
				@include breakpoint(large) {
					width: 90%;
				}
				@include breakpoint(medium) {
					width: 90%;
				}
			}

			&.blog {
				background-color: $blue;
				padding: 3em 0 2em 0;

				> .inner {
					padding-left: 5em;
					padding-right: 5em;
					width: 80%;

					a:hover {
						color: $lemon;
					}
				}
			}

			&.contact {
				background-color: $grape;
			}

			&.alt {
				padding: 0;
			}

		  &.fuschia {
		    background-color: $fuschia;
		  }

		  &.blue {
		    background-color: $blue;
		  }

		  &.lemon {
		    background-color: $lemon;
		  }

			&.grape {
				background-color: $grape;
			}

		  @include breakpoint(medium) {
		    @include padding(4em, 3em);
		  }
		  @include breakpoint(small) {
		    @include padding(3em, 2em);
		  }
		}
