  /* Basic */
    @-ms-viewport {
      width: device-width;
    }

    body {
      background: _palette(bodybg);
      // Prevents animation/transition "flicker" on page load.
      // Automatically added/removed by js/main.js.
      &.is-loading {
        *,
        *:after,
        *:before {
          @include vendor('animation', 'none !important');
          @include vendor('transition', 'none !important');
        }
      }

      &.blog {
        background-color: $lemon;
      }

      &.contact {
        background-color: $fuschia;
      }
    }
