  /* Type */
    body,
    input,
    select,
    textarea {
      color: $white;
      font-family: $ff-sans;
      font-size: 15pt;
      font-weight: 400;
      letter-spacing: _size(letter-spacing);
      line-height: 1.65em;
      @include breakpoint(xlarge) {
        font-size: 13pt;
      }
      @include breakpoint(large) {
        font-size: 12pt;
      }
      @include breakpoint(small) {
        font-size: 11pt;
        letter-spacing: _size(letter-spacing) * 0.5;
      }
    }

    a {
      @include vendor('transition', ('color #{_duration(transitions)} ease', 'border-bottom-color #{_duration(transitions)} ease'));
      border-bottom: dotted 1px;
      color: inherit;
      text-decoration: none;

      &:hover {
        border-bottom-color: transparent;
      }
    }

    b,
    strong {
      font-weight: 600;
    }

    em,
    i {
      font-style: italic;
    }

    p {
      line-height: 1.65em;
      margin: 0 0 _size(element-margin) 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 800;
      letter-spacing: _size(letter-spacing-alt);
      line-height: 1em;
      margin: 0 0 (_size(element-margin) * 0.5) 0;
      text-transform: uppercase;

      a {
        color: inherit;
        text-decoration: none;
      }
    }

    h2 {
      font-size: 1.35em;
      line-height: 1.75em;
      @include breakpoint(small) {
        font-size: 1.1em;
        line-height: 1.65em;
      }
    }

    h3 {
      font-size: 1.15em;
      line-height: 1.75em;
      @include breakpoint(small) {
        font-size: 1em;
        line-height: 1.65em;
      }
    }

    h4 {
      font-size: 1em;
      line-height: 1.5em;
    }

    h5 {
      font-size: 0.8em;
      line-height: 1.5em;
    }

    h6 {
      font-size: 0.7em;
      line-height: 1.5em;
    }

    sub {
      font-size: 0.8em;
      position: relative;
      top: 0.5em;
    }

    sup {
      font-size: 0.8em;
      position: relative;
      top: -0.5em;
    }

    blockquote {
      border-left: solid 4px $border;
      font-style: italic;
      margin: 0 0 _size(element-margin);
      padding: 0.5em 0 0.5em 2em;
    }

    code {
      background: $border-bg;
      border-radius: 3px;
      font-family: $ff-mono;
      font-size: 0.9em;
      letter-spacing: 0;
      margin: 0 0.25em;
      padding: 0.25em 0.65em;
    }

    pre {
      -webkit-overflow-scrolling: touch;
      font-family: $ff-mono;
      font-size: 0.9em;
      margin: 0 0 _size(element-margin);

      code {
        display: block;
        line-height: 1.75em;
        padding: 1em 1.5em;
        overflow-x: auto;
      }
    }

    hr {
      border: 0;
      border-bottom: solid 2px $border;
      margin: (_size(element-margin) * 1.5) 0;

      &.major {
        margin: (_size(element-margin) * 2.25) 0;
      }
    }

    .align-left {
      text-align: left;
    }

    .align-center {
      text-align: center;
    }

    .align-right {
      text-align: right;
    }
